@keyframes animate {
	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 1;
		border-radius: 0;
	}
	100% {
		transform: translateY(-1000px) rotate(720deg);
		opacity: 0;
		border-radius: 50%;
	}
}

.area {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	z-index: -10;
	overflow: hidden;
}
.area li {
	position: absolute;
	display: block;
	list-style: none;
	width: 20px;
	height: 20px;
	background: rgba(255, 255, 255, 0.2);
	animation: animate 19s linear infinite;
}

.area li:nth-child(0) {
	left: 14%;
	width: 116px;
	height: 116px;
	bottom: -116px;
	animation-delay: 1s;
}
.area li:nth-child(1) {
	left: 62%;
	width: 168px;
	height: 168px;
	bottom: -168px;
	animation-delay: 1s;
}
.area li:nth-child(2) {
	left: 84%;
	width: 192px;
	height: 192px;
	bottom: -192px;
	animation-delay: 3s;
}
.area li:nth-child(3) {
	left: 7%;
	width: 123px;
	height: 123px;
	bottom: -123px;
	animation-delay: 5s;
}
.area li:nth-child(4) {
	left: 76%;
	width: 180px;
	height: 180px;
	bottom: -180px;
	animation-delay: 18s;
}
.area li:nth-child(5) {
	left: 52%;
	width: 149px;
	height: 149px;
	bottom: -149px;
	animation-delay: 18s;
}
.area li:nth-child(6) {
	left: 36%;
	width: 129px;
	height: 129px;
	bottom: -129px;
	animation-delay: 1s;
}
.area li:nth-child(7) {
	left: 26%;
	width: 137px;
	height: 137px;
	bottom: -137px;
	animation-delay: 21s;
}
.area li:nth-child(8) {
	left: 72%;
	width: 105px;
	height: 105px;
	bottom: -105px;
	animation-delay: 20s;
}
.area li:nth-child(9) {
	left: 59%;
	width: 167px;
	height: 167px;
	bottom: -167px;
	animation-delay: 8s;
}
